body
{
	background-color: #505050;
}

#header, #footer
{
	color: white;
}

#header ul li a
{
	background-color: #2D2D2D;
}

#header ul li a:hover
{
	background-color: #0975DB;
}


#header h1 a
{
	background-image:url(../images/csthub5.png);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	padding-left:2.3em;
	color:transparent;
	/*
	background-color:red;
	background-color: #0655A5;
	color: white;
*/
}

#header h1 a:hover
{
	background-color: #0975DB;
	color: white;
}

#header > .wrapper > .wrapper,
#footer > .wrapper > .wrapper
{
	background-color: #393939;
	background-image:url(../images/logo7.png);
	background-position:left;
	background-repeat:no-repeat;	
}

#breadcrumbs
{
	color: white;
	background-color: #0E0E0E;
}

#breadcrumbs a:hover
{
	/*color: #0975DB;*/
	text-decoration: underline;
	
}

#content .section > ul > li {border-color: #999999;}


#footer h2
{
	color: #929292;
}

#content
{
	background-color: #929292;
}

#content > .wrapper > .wrapper
{
	border-color: #898989;
	background-color: white;
}

#content h2,
#content h3,
#content h4,
#content h5,
#content h6,
legend
{
	color: #5A5955;
}

/* only for home page below ? */
#content a {color: #0655A5}
#content a:hover {color: #0975DB}

/* for jquery validation errors */
.error {color: red;}

