body
{
	font-family: sans-serif;
}

h1 {font-size:2em}
h2 {font-size:1.5em}
h3 {font-size:1.25em}

h1, h2, h3, h4, h5, h6 {
	font-family:serif, ariel;
}

#footer .section > ul > li > a:hover
{
	text-decoration: underline;
}


/*
#content a:hover,
#footer a:hover
{
	text-decoration: underline;
}

#content a[name]:hover  {text-decoration: none;}
*/

