/* Forum styles */

.forum
{
	width: 100%;
	padding: 5px;
	border: 1px solid;
	margin: 10px;
	margin-left: 0px;
}

.forum > span:first-child
{
	font-size: 2em;
}

.forum > span
{
	margin-right:30px;
}

.forum > a
{
	color: blue;
}

/* topic Styles */

.topicContainer
{
	width:100%;
}

.topic
{
	width: 100%;
	padding: 5px;
	border: 1px solid;
	border-top: none;
}

.topic:first-child
{
	border-top: 1px solid;
}

.topic > span:first-child
{
	font-size: 1.5em;
}

.topic > span
{
	margin-right:30px;
}

.topic > a
{
	color: blue;
}

/* Post Styles */

.postContainer
{
	width:100%;
}

.post
{
	width: 100%;
	border: 1px solid;
	border-top: none;
}

.post:first-child
{
	border-top: 1px solid;
}

.post span:first-child
{
	font-size: 1.5em;
}

.post .time
{
	padding: 5px;
	border-bottom: 1px solid;
}

.post .userinfo
{
	padding: 5px;
	border-right: 1px solid;
	display:inline-block;
	width: 100px;
}

.post .body
{
	display: inline-block;
	vertical-align: top;
}

.post .content
{
	display: block;
}