#body
{

}

#scheduleForm
{
	margin:2em 0 1em 3em;
}

#year
{
	width:9em;
	margin-right:10px;
}

#term
{
	width:9em;
	margin-right:10px;
}

#Set
{
	width:9em;
	margin-right:10px;

}

#schedule td,th
{
	text-align: center;
	border: 2px solid;
	width: 5em;
	padding: .5em 0em;

}

#schedule th
{
	font-size: 2em;
}

#schedule td
{
	vertical-align: top;
}

#submit{
    width:120px;
    height:27px;
    border:2px solid #ccc;
	margin-left:5em;
}

#schedFrame{
border-style:solid;
border-color:black;
border-width:5px;
width:50em;
height:80em;
}
