
/*
	most lists are for semantics, not for actuall bullet-point type lists.
	no "point" in having them enabled by default
		- Jake
*/

ol, ul
{
	list-style: none;
	display: block;
}

li 
{
	display: block;
}

/* 
	General Settings

	Colors used:
		This should be an exhaustive list of colors used in the site.
		


 */


/*
	Center content area
*/
#wrapper_outer, #header, #wrapper_nav
{
	max-width: 65em;
	min-width: 40em;
	margin: 0 auto;
}

#wrapper_outer_nav
{
	width:100%;
	float:left;
}


#navmain 
{
	min-width: 35.5em;
}

/*
	we need to float everything so that we can make column layouts.	
*/
#wrapper_inner
{
	float: left;
	border-style: solid;
	border-width: 0px 8px;
	width: 100%;
}



#wrapper_final
{
	float:left;
	margin:1em 1em;
}

#wrapper_final > *
{
	float:left;	
}

/* jake if u can find a way to make the h2 not be bad without this feel free */

#wrapper_final > h2, #wrapper_final > br
{
	float: none;
}



/*
	There is a general trend away from underlined links.
	So lets do something else nifty...or not.
		- Jake
	
*/ 

a {
	text-decoration: none;
}

a:hover {font-weight: bold;}

a[name]:hover  {text-decoration: none;}

/*
	Header
*/

#logo 
{
	float:left;
}

h1
{
	float:left;
	padding: 0;
	margin: 1em .5em .5em;
}

#header 
{
	float:none;
}

#wrapper_final_header 
{
	float:left;
	width:100%;
	border-style: solid;
	border-width: 0px 8px;
}

#wrapper_header 
{
	float:left;
	margin:0;
	padding:0;
	width:100%;
}


#logo
{
	min-height: 7em;
	padding:0;
}

#logo a
{
	text-decoration: none;
}

#navmain
{
	clear:both;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	border-left: 8px solid;
	border-right: 8px solid;
}

#navmain li, #navmain ul
{
	float:left;
}

#navmain li 
{
	margin:.5em 1em;
}

#navmain a 
{
	padding: 0em 3em 0em 0em;
}

/*
	feeds
*/

/* Recent Posts feeds  Homework feeds */
.feed
{
	width:50%;
}

#homework, #recentPosts
{
	border-style:solid;
	border-width:1px;
	padding:.5em 1em;
}

#homework
{
	margin-right:.5em;
}

#recentPosts
{
	margin-left:.5em;
}

/*
.feed:first-child > .innerfeed
{
	margin-right: .5em;
}

.feed:first-child + .feed > .innerfeed
{
	margin-left: .5em;
}
*/


/* NEWS feeds */


#news
{
	float: left;
	width: 100%;
}

#news > li
{
	margin-top: 1em;
	border-style:solid;
	border-width:1px;
}
/*
#news > li > * {margin: 0 auto;}
*/
#news .section
{
	padding-top:1em;
	width: 35.5em;
	margin:0 auto;
}


/* FOOTers */
#footer h3
{
	margin: .65em;
	padding-top: .5em;
	border-style: solid;
	border-width: 1px 0px 0px;
}

#footer ul
{
	padding: 0;
}

#footer li
{
	display: inline;
	margin: 1em;
	margin-bottom: 3em;
}

#footer a
{
	/*display: block;*/
	margin-left: 1em;
	margin-bottom: .5em;
}

#footer p
{
	text-align: center;
	margin-top: 1em;
}

/*
	
	general page styles
	
*/

.first
{
	margin-top:0;
}

#login 
{
/*
	float: left;
	border-style:solid;
	border-width:1px;
	border-color:black;
	background-color:black;
	padding:10px;
	background-color:red;*/

	width: 100%;
}

#loginEM
{
	float: right;
	font-size: 0.9em;
}

#loginEM fieldset
{
	margin: 0;
}

input, select
{
	border: 1px solid;
}

#loginEM input
{
	border: none;
}

a.classicLink
{
	color: blue;
	text-decoration: underline;
}

.userPicture
{
	border: 1px solid white;
	display: inline-block;
	height: 60px;
	width: 70px;
}
