/*
	most lists are for semantics, not for actuall bullet-`oint type lists.
	no "point" in having them enabled by default
		- Jake
*/

ol, ul
{
	list-style: none;
	display: block;
}

li 
{
	display: block;
}

body > *
/* implied selector: #header, #breadcrumbs, #content, #footer, ... */
{
	float: left;
	width: 100%;
}


body > * > .wrapper
/* implied selector: #header > .wrapper, #breadcrumbs > .wrapper, ... */
{
	float: none;
	max-width: 62.5em; /* should be 65em */
	min-width: 40em;
	margin: 0 auto;
}

body > * > .wrapper > .wrapper
{
	width: 100%;
	float: left;
	
	/*
	border-left: 8px solid red;
	border-right: 8px solid red;*/
	
	/* the borders cause the element to be shifted right so
	position is used to re-center the element */
	
	/*
	position: relative;
	left: -8px;*/ /* this should be equal to the border width */
}

#content > .wrapper > .wrapper > .wrapper,
#footer > .wrapper > .wrapper > .wrapper
{
	margin: 0 1.25em 2em;
}

#header h1
{
	float: left;
	margin: 0;
}


#header h1 > a
{
	display: block;
	padding: 1.25em .5em;

	padding-left:2.3em;
}

#quickLinks
{
	float: left;
}

#quickLinks li a
{
	display: block;
	padding: 1.175em 1em;
	text-align: center;
}

#quickLinks li
{
	margin: 0 .3em .3em;
}

#navigation li
{
	float: left;
	margin-left: .3em;
}

#navigation li a
{
	display: block;
	padding: 3em 1em;
	margin-bottom: .3em;
}

/*#breadcrumbs {display:none;}*/

#breadcrumbs ol
{
	padding: 1em 1em;
	
}

#breadcrumbs li
{
	display: inline;
}

#breadcrumbs li:before
{
	/* content: '\b7\a0'; */ /* middot */
	/*content: '> ';*/
	content: ' » ';
}

#breadcrumbs li:first-child:before
{
	content: none;
}



#content .section > h2, #footer h2
{
	margin-top: 1em;
}

.section > p,
.section > ul
{
	margin-top: .5em;
	margin-right: 1em;
}

#content .groupableSections > .section
{
	min-width: 30em;
	/*width: 50%; */
	float: left;
}

#content .groupableSections > .section > p
{
	max-width: none;
}

#content .groupableSections
{
	margin-bottom: 1em;
	float:left;
	width: 100%;
}

#content .section > ul > li
{
	border-top: 1px solid;
	padding: .25em 0;
	margin-right: 1em;
}

#content .section > ul > li:first-child
{
	border-width: 0px;
}



#footer .section > ul > li
{
	display: inline;
}

#footer .section > ul > li:before
{
	content: '\b7\a0'; /* middot */
}

#footer .section > ul > li:first-child:before
{
	content: none;
}

#footer p /* @todo make this selector nicer ? */
{
	margin-top: 1em;
}

ul.pages
{
	float: right;
	margin-top: 1em;
	margin-bottom: 0.75em;
}

#content ul.pages > li
{
	display: inline;
	border: none;
	margin-right: 0;
}

ul.pages > li.replyItem
{
	margin-left: 1em;
}

#whiteboards td, #whiteboards th
{
	padding: 5px;
}