
#topics > li *, #topics, #topics > li
{
	float: left;
	width: 100%;
}

#topics > li
{
	clear: left;
}

#topics > li > dl > dt
{	
	display: none;
}

#topics > li > dl > dt:first-child + dd
{
	float: left;
	font-size: 1.5em;
	width: 16em;
}

#topics > li > dl > dt:first-child + dd + dt + dd:after
{
	content:"Posts";
}

#topics > li > dl > dd
{
	float: right;
	clear: right;
	text-align: left;
	width: auto;
}


#content .newTopic > a
{
	background-color: #2D2D2D;
	color: white;
	padding: 0.5em 1em;
	margin-top: -0.5em;
	margin-left: 1em;
	float: right;
}

#content .newTopic > a:hover
{
	background-color: #0975DB;
	color: white;
}
