a:link, a:visited
{
	color: #0000CC;
}

a.purple:visited
{
	color: purple;
}

.faqHeading
{
	font-size: 3em;
	font-weight: bold;
}

p
{
	max-width: 64.3em;
}

#bodyWrap {	
margin-left: auto;
margin-right: auto;
width:55.5%;
background-color: #838383;
}